<a href="https://colab.research.google.com/github/SiddharthChavan23/Uber_ETL_Pipeline_DataEngg/blob/main/UBER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget "https://raw.githubusercontent.com/darshilparmar/uber-etl-pipeline-data-engineering-project/main/data/uber_data.csv"

--2023-05-03 13:25:25--  https://raw.githubusercontent.com/darshilparmar/uber-etl-pipeline-data-engineering-project/main/data/uber_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15824375 (15M) [text/plain]
Saving to: ‘uber_data.csv’

uber_data.csv       100%[===================>]  15.09M  --.-KB/s    in 0.1s

2023-05-03 13:25:26 (127 MB/s) - ‘uber_data.csv’ saved [15824375/15824375]

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("uber_data.csv")

In [4]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-03-01 00:00:00,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,2016-03-01 00:00:00,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,2016-03-01 00:00:00,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,2,2016-03-01 00:00:00,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,2,2016-03-01 00:00:00,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80

In [5]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   pickup_longitude       100000 non-null  float64
 6   pickup_latitude        100000 non-null  float64
 7   RatecodeID             100000 non-null  int64
 8   store_and_fwd_flag     100000 non-null  object
 9   dropoff_longitude      100000 non-null  float64
 10  dropoff_latitude       100000 non-null  float64
 11  payment_type           100000 non-null  int64
 12  fare_amount            100000 non-null  float64
 13  extra                  100000 non-null  float64
 14  mta_tax                100000 non-null  float64
 15  tip_amount             100000 non-null  float64
 16  tolls_amount           100000 non-null  float64
 17  improvement_surcharge  100000 non-null  float64
 18  total_amount           100000 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 14.5+ MB

In [7]:
df = df.drop_duplicates().reset_index(drop=True)
df["Trip ID"] = df.index

In [8]:
datetime_dim = df[["tpep_pickup_datetime","tpep_dropoff_datetime"]].drop_duplicates().reset_index(drop=True)
datetime_dim["pick_hour"] = df["tpep_pickup_datetime"].dt.hour
datetime_dim["pick_day"] = df["tpep_pickup_datetime"].dt.day
datetime_dim["pick_month"] = df["tpep_pickup_datetime"].dt.month
datetime_dim["pick_year"] = df["tpep_pickup_datetime"].dt.year


datetime_dim["drop_hour"] = df["tpep_dropoff_datetime"].dt.hour
datetime_dim["drop_day"] = df["tpep_dropoff_datetime"].dt.day
datetime_dim["drop_month"] = df["tpep_dropoff_datetime"].dt.month
datetime_dim["drop_year"] = df["tpep_dropoff_datetime"].dt.year

In [9]:
datetime_dim["Date_TimeID"]=datetime_dim.index

In [10]:
datetime_dim = datetime_dim[["Date_TimeID","tpep_pickup_datetime","pick_hour","pick_day","pick_month","pick_year","tpep_dropoff_datetime","drop_hour","drop_day","drop_month","drop_year"]]

In [11]:
datetime_dim

,Date_TimeID,tpep_pickup_datetime,pick_hour,pick_day,pick_month,pick_year,tpep_dropoff_datetime,drop_hour,drop_day,drop_month,drop_year
0,0,2016-03-01 00:00:00,0,1,3,2016,2016-03-01 00:07:55,0,1,3,2016
1,1,2016-03-01 00:00:00,0,1,3,2016,2016-03-01 00:11:06,0,1,3,2016
2,2,2016-03-01 00:00:00,0,1,3,2016,2016-03-01 00:31:06,0,1,3,2016
3,3,2016-03-01 00:00:00,0,1,3,2016,2016-03-01 00:00:00,0,1,3,2016
4,4,2016-03-01 00:00:01,0,1,3,2016,2016-03-01 00:16:04,0,1,3,2016
...,...,...,...,...,...,...,...,...,...,...,...
99848,99848,2016-03-01 06:17:10,6,1,3,2016,2016-03-01 06:22:15,6,1,3,2016
99849,99849,2016-03-01 06:17:10,6,1,3,2016,2016-03-01 06:32:41,6,1,3,2016
99850,99850,2016-03-01 06:17:10,6,1,3,2016,2016-03-01 06:37:23,6,1,3,2016
99851,99851,2016-03-01 06:17:10,6,1,3,2016,2016-03-01 06:22:09,6,1,3,2016
99852,99852,2016-03-01 06:17:11,6,1,3,2016,2016-03-01 06:22:00,6,1,3,2016

In [12]:
passenger_count_dim = df[["passenger_count"]].drop_duplicates().reset_index(drop=True)
passenger_count_dim["passenger_count_ID"] = passenger_count_dim.index
passenger_count_dim = passenger_count_dim[["passenger_count_ID","passenger_count"]]


trip_dist_dim = df[["trip_distance"]].drop_duplicates().reset_index(drop=True)
trip_dist_dim["trip_dist_ID"] = trip_dist_dim.index
trip_dist_dim = trip_dist_dim[["trip_dist_ID","trip_distance"]]

In [13]:
rate_code_type = {
      1:"Standard Rate",
      2:"JWK",
      3:"Newark",
      4:"Nassu or Westchester",
      5:"Negotiated fare",
      6:"Group Ride"
}


rate_code_dim = df[["RatecodeID"]].drop_duplicates().reset_index(drop=True)
rate_code_dim["rate_code_id"] = rate_code_dim.index
rate_code_dim["rate_code_name"] = rate_code_dim["RatecodeID"].map(rate_code_type)
rate_code_dim = rate_code_dim[["rate_code_id","RatecodeID","rate_code_name"]]

In [14]:
pickup_location_dim = df[["pickup_longitude","pickup_latitude"]].drop_duplicates().reset_index(drop=True)
pickup_location_dim["pickup_location_ID"] = pickup_location_dim.index
pickup_location_dim = pickup_location_dim[["pickup_location_ID","pickup_longitude","pickup_latitude"]]

In [19]:
dropoff_location_dim = df[["dropoff_latitude","dropoff_longitude"]].drop_duplicates().reset_index(drop=True)
dropoff_location_dim["dropoff_location_ID"] = dropoff_location_dim.index
dropoff_location_dim = dropoff_location_dim[["dropoff_location_ID","dropoff_latitude","dropoff_longitude"]]

In [21]:
payment_type_name = {
    1: "Credit card",
    2: "Cash",
    3: "No charge",
    4: "Dispute",
    5: "Unknown",
    6: "Voided trip"
}

payment_type_dim = df[["payment_type"]].drop_duplicates().reset_index(drop=True)
payment_type_dim["payment_type_ID"] = payment_type_dim.index
payment_type_dim["payment_type_name"] = payment_type_dim["payment_type"].map(payment_type_name)
payment_type_dim = payment_type_dim[["payment_type_ID","payment_type","payment_type_name"]]

In [ ]:
fact_table = df.merge(passenger_count_dim, left_on='trip_id', right_on='passenger_count_id') \
             .merge(trip_distance_dim, left_on='trip_id', right_on='trip_distance_id') \
             .merge(rate_code_dim, left_on='trip_id', right_on='rate_code_id') \
             .merge(pickup_location_dim, left_on='trip_id', right_on='pickup_location_id') \
             .merge(dropoff_location_dim, left_on='trip_id', right_on='dropoff_location_id')\
             .merge(datetime_dim, left_on='trip_id', right_on='datetime_id') \
             .merge(payment_type_dim, left_on='trip_id', right_on='payment_type_id') \
             [['trip_id','VendorID', 'datetime_id', 'passenger_count_id',
               'trip_distance_id', 'rate_code_id', 'store_and_fwd_flag', 'pickup_location_id', 'dropoff_location_id',
               'payment_type_id', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
               'improvement_surcharge', 'total_amount']]